<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="display-4 text-danger">Component Interaction Complex</p>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod odio obcaecati eveniet voluptatibus! Debitis quo voluptatem excepturi voluptatum minima facilis, aliquid accusantium earum necessitatibus, amet quos ad molestiae fugit ipsa, eligendi laboriosam quae veritatis quisquam animi? Eveniet excepturi mollitia odit?</p>
        </div>
    </div>
</div>
<app-parent-card></app-parent-card>
