<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="display-4 text-danger">Data Bindings</p>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod odio obcaecati eveniet voluptatibus! Debitis quo voluptatem excepturi voluptatum minima facilis, aliquid accusantium earum necessitatibus, amet quos ad molestiae fugit ipsa, eligendi laboriosam quae veritatis quisquam animi? Eveniet excepturi mollitia odit?</p>
        </div>
    </div>
</div>



<div class="container mt-3">
    <div class="row">
        <div class="list-group cimenu">
            <a class="list-group-item list-group-item-action active" aria-current="true">
              Other Component Examples
            </a>
            <a id="cimenuhover" routerLink="" class="list-group-item list-group-item-action">Click for Example 1</a>
            <a id="cimenuhover" routerLink="" class="list-group-item list-group-item-action">Click for Example 2</a>
          </div>
    </div>
