<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand pl-3" href="#">
    <img
      src="../../../assets/img/icons8-angularjs.svg"
      width="45"
      height="45"
      class="d-inline-block align-center"
      alt=""
      loading="lazy"
    />
    &nbsp;Angular 10
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          [routerLink]="['/']"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Modules
        </a>
        <div
          class="dropdown-menu p-0"
          aria-labelledby="navbarDropdown"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="dropdown-item" [routerLink]="['/githubSearch']"
            >Github Search</a
          >
          <a class="dropdown-item" [routerLink]="['/employees']">Employees</a>
          <a class="dropdown-item" [routerLink]="['/customers']">Customers</a>
          <a class="dropdown-item" [routerLink]="['/contacts']">Contacts</a>
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Examples
        </a>
        <div
          class="dropdown-menu p-0"
          aria-labelledby="navbarDropdown"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="dropdown-item" href="#">Stop Timer</a>
          <a class="dropdown-item" href="#">Watch</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="examples/data-bindings"
            >Data Bindings</a
          >
          <a class="dropdown-item" routerLink="examples/events-bindings"
            >Event Bindings</a
          >
          <a class="dropdown-item" routerLink="examples/form-bindings"
            >Form Bindings</a
          >
          <a class="dropdown-item" routerLink="examples/structural-directives"
            >Structural Directives</a
          >
          <a class="dropdown-item" routerLink="examples/component-interaction"
            >Components Interaction Basic</a
          >
          <a class="dropdown-item" routerLink="examples/component-interaction-adv"
            >Components Interaction Advance</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/about']"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/contact']"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
